* {
  margin: 0;
  padding: 0;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

  GNU nano 7.2                                   estil.css                                   Modified
* {
  margin: 0;
  padding: 0;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}
